/*
/.*

!/.eskk
!/.vimrc
!/.gvimrc
!/.gitignore
!/.gitconfig
!/.gitmodules

!/.vim/
/.vim/*
/.vim/.*
!/.vim/dein/
/.vim/dein/*
/.vim/dein/.*
!/.vim/dein/dein.toml
!/.vim/dein/dein_lazy.toml

/.eskk/log
/.eskk/SKK-JISYO.U
